
<div class="row" ng-controller="fileuploadController" ng-file-drop>

    <div class="col-md-3">

        <h3>Select files</h3>

        <div ng-show="uploader.isHTML5">
            <!-- 3. ng-file-over | ng-file-over="className" -->
            <div class="well my-drop-zone" ng-file-over>
                Dateien hier ablegen
            </div>

            <!-- Example: ng-file-drop | ng-file-drop="options" -->
            <div class="well my-drop-zone" ng-file-drop="{ url: '/api/fileupload/upload' }" ng-file-over="another-file-over-class">
                oder hier ablegen
            </div>
        </div>

        <!-- 2. ng-file-select | ng-file-select="options" -->
        Multiple
        <input ng-file-select type="file" multiple /><br />

        Single
        <input ng-file-select type="file" />
    </div>

    <div class="col-md-9" style="margin-bottom: 40px">

        <h3>Upload queue</h3>
        <p>Queue length: {{ uploader.queue.length }}</p>

        <table class="table">
            <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th ng-show="uploader.isHTML5">Size</th>
                    <th ng-show="uploader.isHTML5">Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in uploader.queue">
                    <td><strong>{{ item.file.name }}</strong></td>
                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                    <td ng-show="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span ng-show="item.isSuccess"><i class="fa fa-check"></i></span>
                        <span ng-show="item.isCancel"><i class="fa fa-times-circle"></i></span>
                        <span ng-show="item.isError"><i class="fa fa-ban"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                            <i class="fa fa-upload"></i> Upload
                        </button>
                        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                            <i class="fa fa-times"></i> Cancel
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                            <i class="fa fa-ban"></i> Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div>
            <p>
                Queue progress:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </p>
            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                <span class="fa fa-upload"></span> Upload all
            </button>
            <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                <span class="fa fa-times"></span> Cancel all
            </button>
            <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                <span class="fa fa-ban"></span> Remove all
            </button>
        </div>

    </div>

</div>

