@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="de" ng-app='app'>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title ng-bind="$state.current.name + ' - app-Name'"></title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/scripts/vendor")
    @Styles.Render("~/Content/css")
</head>
<body>

    <nav class="navbar navbar-fixed-top navbar-default" role="navigation" ng-controller="navbarController">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- ui-sref is a great directive for linking a state location with an anchor link.
                You should almost always use ui-sref instead of href on your links when you want
                then to navigate to a state. When this link is clicked it will take the application
                to the 'home' state. Behind the scenes the directive also adds the correct href attr
                and url. -->
                <a class="navbar-brand" ui-sref="home">App-Name</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
                    <li ui-sref-active="active"><a ui-sref="about">About</a></li>
                    <li ui-sref-active="active"><a ui-sref="contact">Contacts</a></li>
                    <li ui-sref-active="active"><a ui-sref="kooperationspartner">Kooperationspartner</a></li>
                    <li ui-sref-active="active"><a ui-sref="fileupload">Fileupload</a></li>
                    <li ui-sref-active="active"><a ui-sref="login" ng-show="!isAuthenticated()"><i class="fa fa-sign-in"></i> Login</a></li>
                    <li class="dropdown" ng-show="isAuthenticated()">
                        <a class="dropdown-toggle btn-link" role="button" data-toggle="dropdown" ui-sref="#">
                            <i class="fa fa-user"></i> <strong>{{ getUserName() }}</strong> <span class="caret"></span>
                        </a>
                        <ul id="g-account-menu" class="dropdown-menu" role="menu">
                            <li><a ui-sref="userprofile"><i class="fa fa-user-md"></i> Profile</a></li>
                            <li><a ui-sref="changepassword"><i class="fa fa-key"></i> Passwort ändern</a></li>
                            <li><a ui-sref="#" ng-click="logout()"><i class="fa fa-sign-out btn-link"></i> Abmelden</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="loaderDiv" loader>
        <i class="fa fa-cog fa-spin fa-4x ajax-loader"></i>
    </div>

    <!-- Here is a named ui-view. ui-views don't have to be named, but we'll be populate this
            on from various different child states and we want a name to help us target. -->
    @*<p ui-view="hint" class="navbar-text pull-right"></p>*@

    <div class="container slide" ui-view></div>

    <hr>
    <pre>
      <!-- Here's some values to keep an eye on in the sample in order to understand $state and $stateParams -->
      $state = {{$state.current.name}}
      $stateParams = {{$stateParams}}
      $state full url = {{ $state.$current.url.source }}
      <!-- $state.$current is not a public api, we are using it to
           display the full url for learning purposes-->
    </pre>
    <script>
        //Nav-Bar schliessen bei Klick auf eine Link im Menu
        $(document).on('click', '.navbar-collapse.in', function (e) {
            if ($(e.target).is('a')) {
                $(this).collapse('hide');
            }
        });
    </script>
</body>


</html>

